.hero_section {
  background-color: #F8F8F8;
  }

.hero_section img {
    width: 50%;
}

.hero__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F8F8F8;
}

.hero__right {
  margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content_right__learn_more {
 display: inline-block;
 align-self: flex-start;
}

.hero__right p {
    color: #7D7987;
    font-family: Mulish;
    font-size: 17px;
    line-height: 30px;
    font-weight: 300;
}