* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6; /* Светлый фон для большей мягкости */
    color: #2c3e50; /* Темно-синий оттенок для текста */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2c3e50; /* Глубокий темный цвет для контраста */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень для объема */
}

header .logo img {
    width: 90px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #f3f4f6;
    font-weight: bold;
    padding: 8px 16px;
    background-color: #3498db; /* Цвет акцента для кнопок */
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #2980b9; /* Немного темнее для эффекта наведения */
}

main {
    padding: 40px;
}

footer {
    background-color: #34495e; /* Темный оттенок для контраста с основным содержимым */
    padding: 20px;
    text-align: center;
    color: #f3f4f6; /* Белый текст для контраста */
}

.footer_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Позволяет адаптироваться на маленьких экранах */
    padding-bottom: 20px;
    border-bottom: 1px solid #bdc3c7;
}
.footer_img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.footer_img {
    width: 60px;
    height: auto;
    margin-right: 20px;
}

.social-icons a {
    margin: 0 10px;
    transition: transform 0.2s ease;
}

.social-icons a:hover {
    transform: scale(1.1); /* Эффект увеличения при наведении */
}

.social-icons img {
    width: 35px;
    height: auto;
}

footer p {
    font-size: 12px;
    color: #ecf0f1; /* Светлый оттенок текста */
}
